/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
.root-el,
main {
    @apply min-h-full;
    @apply h-full;
}

@layer components{
    main {
        @apply max-w-7xl px-4 self-center;
    }
}